html {
   
    background-color: rgb(65, 224, 132);
}

h1 {
    color: #07031d;
    text-align: center;
    text-decoration: underline;
}

h3 {
    color: #360deb;
    text-align: center;
}

.fancy0 {
    symbols: element(firefox 33);
    text-align: center;
    font-style: italic;
}

.fancy1 {
    text-align: center;
}

.fancy2 {
    color: #0d8d29;
    text-align: center;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}